<nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-title" href="/">
        MyApp
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item" *ngIf="showLoginButton" (click)="toggleButtons()">
        <a class="button is-light" routerLink="/login">Login</a>
      </div>
      <div class="navbar-item" *ngIf="!showLoginButton" (click)="toggleButtons()">
        <a class="button is-primary" routerLink="/signup">Signup</a>
      </div>
    </div>
  </nav>
  